$main-font-color: #fff;
$top-font-color: #144959;
$page-sidebar-background-color: #f4a22c;
$page-content-background-color: #144959;
$highlight-background-color: #f4a22c;
$header-background-color: #f2f2f2;
