@import "variables";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:regular,medium');
li li,
li p,
li span,
li p span,
p span {
    font-size: 1em
}
ul {
  list-style-type: none;
}

/* 關於body height: 為了使用垂直flex需要填滿整個頁面，用
 * .logged-in class來處理wpadminbar的高度，如果把html和body
 * 設成100%，wordpress會放一個32px的top margin，會產生
 * scroll bar，用vh就不需要把html也設成100%
 */
html {
    font-size: 18px;
}
body {
    overflow: auto;
    font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    &.logged-in { height: calc(100vh - 32px); }
}

img {
    border: none;
}

a {
    font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
    // 在import google的字體時，多指定了需要的font weight
    font-weight: 500;
    text-decoration: none;
    color: $main-font-color;
    outline: none;
}

input:focus {
  outline: none;
}

.full-col-flex {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.main-container {
  position: relative;
  flex: 1 1 auto;
  color: #fff;
  overflow-x: hidden;
}

@import "component/header";
@import "component/footer";
