li li, li p, li span, li p span, p span{font-size:1em}
*{font-family:'Noto Sans TC', 'Microsoft JhengHei', sans-serif;font-size:1em;margin:0;padding:0;-webkit-font-smoothing: antialiased;}
body{overflow: hidden; font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;font-size:100%;margin:0;padding:0; -webkit-font-smoothing: antialiased;}
img {border:none;}
a{font-family:'Noto Sans TC', 'Microsoft JhengHei', sans-serif; text-decoration:none; color:#646464;}
.clear_both{
    clear: both;
}
/** adjust font size **/

@media screen and (max-width: 1023px){
    body{ font-size: 75%; }
}
@media screen and (min-width: 1024px) and (max-width: 1087px){
    body{ font-size: 80%; }
}
@media screen and (min-width: 1088px) and (max-width: 1151px){
    body{ font-size: 85%; }
}
@media screen and (min-width: 1152px) and (max-width: 1215px){
    body{ font-size: 90%; }
}
@media screen and (min-width: 1216px) and (max-width: 1279px){
    body{ font-size: 95%; }
}
@media screen and (min-width: 1280px) and (max-width: 1343px){
    body{ font-size: 100%; }
}
@media screen and (min-width: 1344px) and (max-width: 1407px){
    body{ font-size: 105%; }
}
@media screen and (min-width: 1408px) and (max-width: 1471px){
    body{ font-size: 110%; }
}
@media screen and (min-width: 1472px) and (max-width: 1535px){
    body{ font-size: 115%; }
}
@media screen and (min-width: 1536px) and (max-width: 1599px){
    body{ font-size: 120%; }
}
@media screen and (min-width: 1600px) and (max-width: 2000px){
    body{ font-size: 120%; }
}
@media screen and (min-width: 2001px) and (max-width: 4000px){
    body{ font-size: 180%; }
}
@media screen and (min-width: 4001px) {
    body{ font-size: 280%; }
}

/* Top navigation  */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*input[type=text] {
    width: 130px;
    position: fixed;
    left: %;
    top: %;
    border: 2px solid transparent;
    border-bottom:2px solid #ccc;
    border-radius: 1px;
    font-size: 16px;
    background-color: #F2F2F2;
    background-image: url('../image/searchicon.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}*/